export MINIKUBE_HOME=$(pwd)
export MINIKUBE_KUBERNETES_VERSION="v1.25.2"
export MINIKUBE_DRIVER="docker"
export MINIKUBE_CONTAINER_RUNTIME="docker"
export MINIKUBE_CPUS="2"
export MINIKUBE_MEMORY="2200m"
export MINIKUBE_DISK_SIZE="10000m"
export KUBECONFIG=kubeconfig